/* Fonts Imported */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Selection */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Azeret Mono", monospace;
}
/* header starts */
header {
    width: 1440px;
    height: 772px;
}
/* nav starts */
.navbar {
    width: 1440px;
    height: 120px;
}
.nav-container {
    width: 1140px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name a {
    text-decoration: none;
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.btn button {
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    padding: 17px 24px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid rgb(13, 19, 33);
}
/* nav ends */
/* hero section starts */
.hero {
    width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero .hero-container {
    width: 998px;
    height: 652px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.hero .hero-container img {
    width: 240.28px;
    height: 240px;
}
.hero .hero-container h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
}
.hero .hero-container button {
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
}
/* hero section ends */
/* header ends */
/* reason section starts */
.reason {
    width: 1140px;
    height: 1395px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
    margin-top: 72px;
}
.reason-container {
    width: 850px;
    height: 1395px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.reason-container .section-1 {
    text-align: center;
}
.reason-container .section-1 h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.reason .reason-container .section {
    width: 946px;
    height: 336px;
    display: flex;
    padding: 48px;
    background-color: rgb(255, 255, 255);
}
.reason-container .section img {
    width: 274.17px;
    height: 240px;
}
.reason-container .section .des-2-img {
    margin-right: 32px;
}
.reason-container .section h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0px;
}
.reason-container .section  p {
    color: rgb(13, 19, 33);
}
.reason-container .section button {
    padding: 12px 20px;
    margin: 32px 0px;
}

/* reason section Ends */

/* video section starts */
.video-showcase {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.video-showcase .video-des {
    width: 852px;
    text-align: center;
}
.video-showcase .video-des h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
.video-showcase .video-des p {
    margin-top: 24px;
}
.video-showcase .video-content {
    width: 1140px;
    height: 614px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
}
.video-showcase .video-content iframe {
    border-radius: 16px;
}
/* video section ends */

/* card section starts */
.cards {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.cards .card-des {
    width: 852px;
}
.cards .card-des h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
.cards .card-des p {
    color: rgb(13, 19, 33);
    margin: 24px 0px;
}
.card-content{
    display: flex;
}
.card-content .card {
    width: 364px;
    height: 299px;
    text-align: left;
    padding: 40px;
    border-radius: 8px;
}
.card-content .card-1 {
    background-color: rgba(255, 76, 30, 0.05);
}
.card-content .card-2 {
    background-color: rgba(0, 76, 232, 0.05);
    margin: 0 24px;
}
.card-content .card-3 {
    background-color: rgba(255, 223, 0, 0.05);
}
.card-content h3 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin: 8px 0px;
}
.card-content p {
    margin: 16px 0px;
}
.card-content a {
    font-weight: 700;
    color: rgb(13, 19, 33);
}
/* card section ends */
/* support section starts */
.support {
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 110px;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.support .support-container {
    width: 1044px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.support .support-container h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}
.support .support-container p {
    color: white;
}
.support .support-container form #feedback{
    width: 548px;
    height: 57px;
    padding: 19px 20px;
    border-radius: 8px;
}
.support .support-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.support .support-container form #submit {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px;
    border-radius: 8px;
}
/* support section ends */